/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #222;
}
#wrapper{
    margin-bottom: 30px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
}
.fl{
    float: left;
}

.fr{
    float: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
ol,ul{
    list-style: none;
}

// header begin
.BHeader{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #F9FAFA;
    border-bottom: 1px solid #D7D7D7;
}
.afternoon{
    display: inline-block;
    ul{
        li{
            float: left;
            a{
                &:hover{
                    color: #FF3300;
                }
                span{
                    color: #FEDD4E;
                }
            }
        }
    }
}
.welcome{
    float: left;
    ul{
        li{
            float: left;
            color: #C9C9C9;
            padding: 0 4px;
            a{
                color: red;
            }
        }
    }
}
.items{
    display: inline-block;
    ul{
        li{
            a{
                &:hover{
                    color: #FF3300;
                }
            }
            &:hover{
                .dropdown1{
                    display: block;
                }
                .dropdown2{
                    display: block;
                }
            }
            float: left;
            color: #666;
            .arrow{
                font-size: 12px;
                padding: 5px;
                font-weight: normal;
            }
        }
        .itemsLi{
            float: left;
            line-height: 30px;
            padding: 0 10px;
            color: #D3D3D3;
        }
        .menu{
            position: relative;
            .dropdown1,.dropdown2{
                position: absolute;
                width: 90px;
                background: #F9FAFA;
                top: 30px;
                left: -10px;
                border: 1px solid #D7D7D7;
                text-align: center;
                border-top: none;
                display: none;
                z-index: 99;
            }
            .dropdown2{
                left: -4px;
            }
        }
    }
}
.head-box{
    margin-bottom: 46px;
    .head-logo{
        padding-top: 10px;
    }
    .head-form{
        margin: 35px 0 0 80px;
        input{
            width: 488px;
            height: 38px;
            border: 3px solid #FF7200;
            outline: none;
            float: left;
            padding-left: 6px;
        }
        button{
            width: 88px;
            height: 44px;
            outline: none;
            float: left;
            text-align: center;
            display: block;
            border: 3px solid #FF7200;
            background: #FF7200;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
        .words-text{
            margin-top: 50px;
            a{
                padding: 0 8px;
                &:hover{
                    color: #FF7200;
                }
            }
        }
    }
    .head-car{
        position: relative;
        width: 140px;
        text-align: center;
        height: 34px;
        cursor: pointer;
        line-height: 34px;
        margin-top: 40px;
        background: #F9F9F9;
        border: 1px solid #DDDDDD;
        .car{
            font-size: 28px;
            color: #FF7200;
            float: left;
            padding-left: 10px;
        }
        .cat-text{
           display: inline-block;
        }
        .num{
            position: absolute;
            top: -8px;
            left: 100px;
            width: 15px;
            height: 15px;
            line-height: 15px;
            display: block;
            color: #fff;
            border-top-left-radius: 40%;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 40%;
            background: #FF7200;
        }
    }
}

.navs{
    width: 100%;
    border-bottom: 3px solid #FF7200;
    .navs-all{
        position: relative;
        height: 35px;
        .pull-down{
            position: absolute;
            z-index: 10;
            .pull-down-title{
                height: 38px;
                width: 190px;
                background:#FF7200;
                color: #ffffff;
                font-size: 16px;
                font-weight: normal;
                text-align: center;
                line-height: 35px;
            }
            .pull-down-list{
                width: 190px;
                position: relative;
                z-index: 2;
                li{
                    background: #FF8C2F;
                    padding: 5px 10px;
                    border-bottom: 1px solid #FFAF6D;
                    a{
                        i{
                            color: #fff;
                        }
                        span{
                            color: #fff;
                            line-height: 22px;
                        }
                        .title{
                            font-size: 16px;
                        }
                    }
                    &:hover{
                        background: #f8f8f8;
                        a{
                            i{
                                color: #222;
                            }
                            span{
                                color: #222;
                                line-height: 22px;
                            }
                            .title{
                                font-size: 16px;
                            }
                        }
                    }
                }
                
            }
        }
        .list-con{
            width:809px;
            position: absolute;
            z-index:2;
            top: 38px;
            left: 190px;
            display: none;
            overflow: hidden;
            background: #f8f8f8;
            border-right: 1px solid #C9C9C9;
            border-bottom: 1px solid #C9C9C9;
            .con-items{
                text-align:left; 
                padding-top:23px; 
                padding-left:30px;
                li{
                    display: block;
                    width: 77px;
                    line-height: 20px;
                    margin: 20px;
                    height: 27px;
                    text-align: right;
                    border: 1px solid #943B57;
                    a{
                        color: #943B57;
                    }
                    span{
                        color: #943B57;
                    }
                }
            }
            p{
                padding: 20px; 
                a{
                    &:hover{
                        color: #FF7200;
                    }
                }
            }
            .img-items{
                width: 205px;
                padding-top: 40px;
                margin-right: 40px;
                li{
                    float: left;
                    border: 1px solid #C9C9C9;
                }
            }
        }
    }
    .item-list{
        margin-left: 190px;
        li{
            font-size: 16px;
            display: inline-block;
            a{
                display: block;
                padding: 10px;
                &:hover{
                    background: #FF7200;
                    color: #fff;    
                }
            }
        }
    }
}

// service
.service{
    width: 100%;
    padding: 30px 0;
    height: 60px;
    border-top: 1px solid #DDDDDD;
    .icons{
        margin: 0 70px 0 0;
        float: left;
        img{
            float: left;
        }
        .icons-text{
            line-height: 25px;
            h2{
                font-size: 20px;
                margin-top: 8px;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                color: #666;
            }
        }
    }
}
.service-msg{
    width: 100%;
    height: 70px;
    background: black;
    .service-phone{
        padding-top: 16px;
    }
    .service-text{
        h1{
            color: #fff;
            float: left;
            font-size: 40px;
            padding: 15px 10px;
            font-weight: bold;
        }
        p{
            float: left;
            color: #fff;
            line-height: 68px;
            font-size: 14px;
        }
    }
}

// foot
.foot{
    height: 150px;
    border-bottom: 1px solid #DDDDDD;
    dl{
        float: left;
        padding: 0 80px;
        dt{
            font-size: 16px;
            font-weight: bold;
            line-height: 30px;
        }
        dd{
            padding: 0 0 10px 0;
            &:hover{
                a{
                    color: #FF3300;
                }
            }
        }
    }
}

// about
.about{
    li{
        float: left;
        padding: 0 5px;
        &:hover{
            a{
                color: #FF3300;
            }
        }
    }
}
.copy{
    padding-left: 5px;
    li{
        float: left;
        padding: 15px 0;
        color: #666;
    }
}

.tools{
    width: 40px;
    background: #000;
    position: fixed;
    right: 0;
    top: 30px;
    z-index: 999;
    display: none;
    border-left: 3px solid #FF6600;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    li{
        margin: 10px 0;
        a{
            .tools-img{
                width: 30px;
                height: 30px;
                margin: auto;
                img{
                    width: 100%;
                }
            }
            p{
                color: #fff;
                display: block;
                width: 30px;
                text-align: center;
                margin: 10px 0 0 5px;
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}