<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="./stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
    <title>鲜盟网</title>
</head>

<body>
    <div id="app">
        <!-- header begin -->
        <header>
            <div class="BHeader">
                <div class="container clearfix">
                    <div class="afternoon fl">
                        <ul class="clearfix">
                            <li>下午好，欢迎光临锦宏颜！</li>
                            <li>
                                <a href="javascript:;">
                                    <span class="iconfont">&#xe627;</span>
                                    收藏我们
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="fr">
                        <div class="welcome">
                            <ul class="clearfix">
                                <li>欢迎光临本店！</li>
                                <li><a href="login.html">[请登录]</a></li>
                                <li>新用户</li>
                                <li><a href="register.html">[免费注册]</a></li>
                            </ul>
                        </div>
                        <div class="items">
                            <ul class="clearfix">
                                <li class="itemsLi">|</li>
                                <li><a href="javascript:;">我的订单</a></li>
                                <li class="itemsLi">|</li>
                                <li><a href="car.html">购物车</a></li>
                                <li class="itemsLi">|</li>
                                <li><a href="javascript:;">联系我们</a></li>
                                <li class="itemsLi">|</li>
                                <li class="menu">
                                    <a href="javascript:;">客服服务<span class="iconfont arrow">&#xe601;</span></a>
                                    <div class="dropdown1">
                                        <p><a href="javascript:;">客户服务</a></p>
                                        <p><a href="javascript:;">客户服务</a></p>
                                        <p><a href="javascript:;">客户服务</a></p>
                                        <p><a href="javascript:;">客户服务</a></p>
                                    </div>
                                </li>
                                <li class="itemsLi">|</li>
                                <li class="menu"><a href="javascript:;"><span
                                            class="iconfont arrow">&#xe638;</span>手机版<span
                                            class="iconfont arrow">&#xe601;</span></a>
                                    <div class="dropdown2">
                                        <p><a href="javascript:;">手机版</a></p>
                                        <p><a href="javascript:;">手机版</a></p>
                                        <p><a href="javascript:;">手机版</a></p>
                                        <p><a href="javascript:;">手机版</a></p>
                                    </div>
                                </li>
                                <li class="itemsLi">|</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="head-box clearfix">
                    <div class="head-logo fl">
                        <a href="javascript:;">
                            <img src="../images/logo.jpg" alt="">
                        </a>
                    </div>
                    <div class="head-form fl">
                        <form action="#">
                            <input type="text" autocomplete="off" placeholder="生活用品">
                            <button>搜索</button>
                        </form>
                        <div class="words-text">
                            <a href="javasctipt:;">苹果</a>
                            <a href="javasctipt:;">香蕉</a>
                            <a href="javasctipt:;">菠萝</a>
                            <a href="javasctipt:;">西红柿</a>
                            <a href="javasctipt:;">橙子</a>
                            <a href="javasctipt:;">苹果</a>
                        </div>
                    </div>
                    <div class="head-car fr">
                        <a href="car.html">
                            <span class="iconfont car">&#xe6cf;</span>
                            <div class="car-text">
                                <span>我的购物车</span>
                                <span class="iconfont">&#xe62d;</span>
                            </div>
                            <span class="num">0</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navs">
                <div class="container navs-all">
                    <div class="pull-down">
                        <h2 class="pull-down-title">全部产品分类</h2>
                        <ul class="pull-down-list">
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe604;</i>
                                    <span class="title"> 面部护理</span>
                                    <div>
                                        <span>茅台</span>
                                        <span>五粮液</span>
                                        <span>郎酒</span>
                                        <span>剑南春</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe604;</i>
                                    <span class="title"> 身体护理</span>
                                    <div>
                                        <span>面霜</span>
                                        <span>眼霜</span>
                                        <span>面膜</span>
                                        <span>护肤套装</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe604;</i>
                                    <span class="title"> 香水彩妆</span>
                                    <div>
                                        <span>卸妆</span>
                                        <span>防嗮</span>
                                        <span>BB</span>
                                        <span>女士香水</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe604;</i>
                                    <span class="title"> 洗发护发</span>
                                    <div>
                                        <span>洗发</span>
                                        <span>护发</span>
                                        <span>沐浴</span>
                                        <span>润肤乳</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe604;</i>
                                    <span class="title"> 女性护理</span>
                                    <div>
                                        <span>洁面</span>
                                        <span>坚果炒货</span>
                                        <span>乳液</span>
                                        <span>面霜</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe604;</i>
                                    <span class="title"> 男性护理</span>
                                    <div>
                                        <span>洁面</span>
                                        <span>坚果炒货</span>
                                        <span>乳液</span>
                                        <span>面霜</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe604;</i>
                                    <span class="title"> 推荐品牌</span>
                                    <div>
                                        <span>欧莱雅</span>
                                        <span>菲斯小铺</span>
                                        <span>雅诗兰黛</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe604;</i>
                                    <span class="title"> 推荐品牌</span>
                                    <div>
                                        <span>欧莱雅</span>
                                        <span>菲斯小铺</span>
                                        <span>雅诗兰黛</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="list-con">
                            <div class="con-items fl">
                                <ul>
                                    <li><a href="javascript:;">面膜<span class="iconfont">&#xe62d;</span></a></li>
                                    <li><a href="javascript:;">面膜<span class="iconfont">&#xe62d;</span></a></li>
                                    <li><a href="javascript:;">面膜<span class="iconfont">&#xe62d;</span></a></li>
                                    <li><a href="javascript:;">面膜<span class="iconfont">&#xe62d;</span></a></li>
                                    <li><a href="javascript:;">面膜<span class="iconfont">&#xe62d;</span></a></li>
                                    <li><a href="javascript:;">面膜<span class="iconfont">&#xe62d;</span></a></li>
                                    <li><a href="javascript:;">面膜<span class="iconfont">&#xe62d;</span></a></li>
                                    <li><a href="javascript:;">面膜<span class="iconfont">&#xe62d;</span></a></li>
                                </ul>
                            </div>
                            <div class="con-items fl">
                                <p>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                </p>
                                <p>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                </p>
                                <p>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                </p>
                                <p>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                </p>
                                <p>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                </p>
                                <p>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                </p>
                                <p>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                </p>
                                <p>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                    <a href="javascript:;">拉丝面膜</a>
                                </p>
                            </div>
                            <div class="img-items fr">
                                <ul>
                                    <li><img src="../images/brand1.jpg" alt=""></li>
                                    <li><img src="../images/brand2.jpg" alt=""></li>
                                    <li><img src="../images/brand3.jpg" alt=""></li>
                                    <li><img src="../images/brand4.jpg" alt=""></li>
                                    <li><img src="../images/brand1.jpg" alt=""></li>
                                    <li><img src="../images/brand2.jpg" alt=""></li>
                                    <li><img src="../images/brand3.jpg" alt=""></li>
                                    <li><img src="../images/brand4.jpg" alt=""></li>
                                    <li><img src="../images/brand1.jpg" alt=""></li>
                                    <li><img src="../images/brand2.jpg" alt=""></li>
                                    <li><img src="../images/brand3.jpg" alt=""></li>
                                    <li><img src="../images/brand4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="item-list">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="list.html">产品列表</a></li>
                        <li><a href="javascript:;">限时特卖</a></li>
                        <li><a href="javascript:;">联系我们</a></li>
                        <li><a href="javascript:;">鲜盟人才</a></li>
                        <li><a href="javascript:;">鲜盟金融</a></li>
                        <li><a href="javascript:;">鲜盟投资</a></li>
                        <li><a href="details.html">销售品牌</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- header end  -->

        <!-- banner begin  -->
        <section id="wrapper">
            <div class="swiper-container banner1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="item in banner">
                        <img :src="item.imgUrl">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- Swiper JS -->
        </section>
        <!-- banner end  -->

        <!-- recommend begin -->
        <section id="wrapper">
            <div class="container clearfix">
                <div class="recommend-left fl"><img src="../images/recommend.jpg" alt=""></div>
                <div class="recommend-right fl">
                    <ul>
                        <li v-for="item in recommend">
                            <div class="left-img fl"><img :src="item.imgUrl" alt=""></div>
                            <div class="right-text fr">
                                <p>{{item.title}}</p>
                                <p class="price">{{item.price}}</p>
                                <button>立即购买</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- recommend end -->

        <!-- store begin -->
        <section id="wrapper">
            <div class="container store">
                <div class="store-title">
                    <h2>鲜盟店铺</h2>
                </div>
                <div class="store-msg">
                    <dl class="clearfix" v-for="item in store">
                        <dt>{{item.title}}</dt>
                        <dd v-for="item in store"><a href="javascript:;">{{item.msg}}</a></dd>

                    </dl>
                </div>
            </div>
        </section>
        <!-- store end -->

        <!-- hot begin -->
        <section id="wrapper">
            <div class="container clearfix">
                <div class="news fl">
                    <div class="news-title">
                        <ul class="clearfix">
                            <li>最新订单</li>
                            <li class="cur">商城新闻</li>
                        </ul>
                    </div>
                    <div class="news-content">
                        <div class="news-contentMain">
                            <p>最新订单提示！</p>
                            <p>最新订单提示！</p>
                            <p>最新订单提示！</p>
                            <p>最新订单提示！</p>
                            <p>最新订单提示！</p>
                            <p>最新订单提示！</p>
                        </div>
                        <div class="news-contentMain hovers">
                            <p>商城最新公告提示！</p>
                            <p>商城最新公告提示！</p>
                            <p>商城最新公告提示！</p>
                            <p>商城最新公告提示！</p>
                            <p>商城最新公告提示！</p>
                            <p>商城最新公告提示！</p>
                        </div>
                    </div>
                </div>
                <div class="hot fr">
                    <div class="hot-title">
                        <h2>热销产品</h2>
                    </div>
                    <div class="hot-msg">
                        <div class="swiper-container banner3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <ul>
                                        <li v-for="item in hot">
                                            <a href="javascript:;">
                                                <div class="hot-img">
                                                    <img :src="item.imgUrl" alt="">
                                                </div>
                                                <p>{{item.title}}</p>
                                                <span class="price">{{item.price}}</span>
                                                <span class="fr">销售：<i class="num">{{item.num}}</i>件</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="swiper-slide">
                                    <ul>
                                        <li v-for="item in hot">
                                            <a href="javascript:;">
                                                <div class="hot-img">
                                                    <img :src="item.imgUrl" alt="">
                                                </div>
                                                <p>{{item.title}}</p>
                                                <span class="price">{{item.price}}</span>
                                                <span class="fr">销售：<i class="num">{{item.num}}</i>件</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination pad"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hot end -->

        <!-- promotion begin -->
        <section id="wrapper">
            <div class="container">
                <div class="promotion-title">
                    <div class="text fl">
                        <h2>
                            <a href="javascript:;">
                                <img src="../images/icon1.jpg" alt="">
                                <span class="limit">限时促销</span>
                            </a>
                        </h2>
                    </div>
                    <div class="more fr">
                        <a href="javascript:;">更多促销</a>
                    </div>
                </div>
                <div class="promotion-content">
                    <ul>
                        <li v-for="item in promotion" :key="item.id">
                            <a href="javascript:;">
                                <div class="promotion-img">
                                    <img :src="item.imgUrl">
                                </div>
                                <div class="promotion-msg">
                                    <p class="msg-title">{{item.title}}</p>
                                    <span class="price-before">￥223.12</span><span class="price-after">￥65.00</span>
                                    <div class="count">
                                        <p>剩余时间：<span>23</span>时<span>34</span>分<span>23</span>秒</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>
        <!-- promotion end -->

        <!-- ad begin -->
        <section id="wrapper">
            <div class="container">
                <img src="../images/promotion_activity.jpg" alt="" style="cursor: pointer" title="十月初五闹元宵">
            </div>
        </section>
        <!-- ad end -->

        <!-- floor begin -->
        <!-- 1F -->
        <section id="wrapper">
            <div class="container">
                <div class="floor">
                    <div class="floor-title clearfix">
                        <span class="fl">1F</span>
                        <ul class="fr clearfix" v-for="item in floor_title">
                            <li class="fl"><a href="javascript:;">{{item.msg}}</a></li>
                        </ul>
                    </div>
                    <div class="floor-msg clearfix">
                        <div class="msg-left box1 fl">
                            <div class="inner">
                                <ul class="clearfix">
                                    <li><a href="javascript:;"><img src="../images/ad-6.jpg" alt=""></a></li>
                                    <li><a href="javascript:;"><img src="../images/ad-6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                            <ol class="bar">

                            </ol>
                            <div class="btns">
                                <a href="javascript:;" class="left-btn">&lt;</a>
                                <a href="javascript:;" class="right-btn">&gt;</a>
                            </div>
                        </div>
                        <div class="msg-right fl">
                            <ul v-for="item in floor_content">
                                <li>
                                    <a href="javasctipt:;">
                                        <div class="right-img">
                                            <img :src="item.imgUrl" alt="">
                                        </div>
                                        <p>{{item.title}}</p>
                                        <div class="price">
                                            <span>{{item.price}}</span>
                                            <span class="num">销量<i>{{item.num}}</i>件</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2F -->
        <section id="wrapper">
            <div class="container">
                <div class="floor">
                    <div class="floor-title clearfix">
                        <span class="fl">2F</span>
                        <ul class="fr clearfix" v-for="item in floor_title">
                            <li class="fl"><a href="javascript:;">{{item.msg}}</a></li>
                        </ul>
                    </div>
                    <div class="floor-msg clearfix">
                        <div class="msg-left box2 fl">
                            <div class="inner">
                                <ul class="clearfix">
                                    <li><a href="javascript:;"><img src="../images/ad-7.jpg" alt=""></a></li>
                                    <li><a href="javascript:;"><img src="../images/ad-7.jpg" alt=""></a></li>
                                </ul>
                            </div>
                            <ol class="bar">

                            </ol>
                            <div class="btns">
                                <a href="javascript:;" class="left-btn">&lt;</a>
                                <a href="javascript:;" class="right-btn">&gt;</a>
                            </div>
                        </div>
                        <div class="msg-right fl">
                            <ul v-for="item in floor_content">
                                <li>
                                    <a href="javasctipt:;">
                                        <div class="right-img">
                                            <img :src="item.imgUrl" alt="">
                                        </div>
                                        <p>{{item.title}}</p>
                                        <div class="price">
                                            <span>{{item.price}}</span>
                                            <span class="num">销量<i>{{item.num}}</i>件</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3F -->
        <section id="wrapper">
            <div class="container">
                <div class="floor">
                    <div class="floor-title clearfix">
                        <span class="fl">3F</span>
                        <ul class="fr clearfix" v-for="item in floor_title">
                            <li class="fl"><a href="javascript:;">{{item.msg}}</a></li>
                        </ul>
                    </div>
                    <div class="floor-msg clearfix">
                        <div class="msg-left box3 fl">
                            <div class="inner">
                                <ul class="clearfix">
                                    <li><a href="javascript:;"><img src="../images/ad-8.jpg" alt=""></a></li>
                                    <li><a href="javascript:;"><img src="../images/ad-8.jpg" alt=""></a></li>
                                </ul>
                            </div>
                            <ol class="bar">

                            </ol>
                            <div class="btns">
                                <a href="javascript:;" class="left-btn">&lt;</a>
                                <a href="javascript:;" class="right-btn">&gt;</a>
                            </div>
                        </div>
                        <div class="msg-right fl">
                            <ul v-for="item in floor_content">
                                <li>
                                    <a href="javasctipt:;">
                                        <div class="right-img">
                                            <img :src="item.imgUrl" alt="">
                                        </div>
                                        <p>{{item.title}}</p>
                                        <div class="price">
                                            <span>{{item.price}}</span>
                                            <span class="num">销量<i>{{item.num}}</i>件</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- floor end -->

        <!-- like begin -->
        <section id="wrapper">
            <div class="container like">
                <div class="like-title">
                    <div class="title">猜你喜欢</div>
                </div>
                <div class="like-msg">
                    <ul class="clearfix">
                        <li v-for="item in like">
                            <a href="javascript:;" class="like-foods">
                                <div class="foods-img">
                                    <img :src="item.imgUrl" alt="">
                                </div>
                                <p>{{item.title}}</p>
                                <div class="price clearfix">
                                    <span class="fl">{{item.price}}</span>
                                    <span class="num fr">销量：<i>{{item.num}}</i>件</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- like end -->

        <!-- service begin -->
        <section id="wrapper">
            <div class="service">
                <div class="container">
                    <div class="service-ttile">
                        <div class="icons clearfix" v-for="item in service">
                            <img :src="item.imgUrl" alt="">
                            <div class="icons-text fl">
                                <h2>{{item.title}}</h2>
                                <p>{{item.msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-msg">
                <div class="container clearfix">
                    <div class="service-phone fl">
                        <img src="../images/phone.jpg" alt="">
                    </div>
                    <div class="service-text fl">
                        <h1>400-4565-345</h1>
                        <p>客服热线 7X24小时 贴心服务</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- service end -->

        <!-- foot begin -->
        <section id="wrapper">
            <div class="container">
                <div class="foot">
                    <dl v-for="item in foot">
                        <dt>{{item.title}}</dt>
                        <dd><a href="javascript:;">售后流程</a></dd>
                        <dd><a href="javascript:;">购买流程</a></dd>
                        <dd><a href="javascript:;">订购方式</a></dd>
                        <dd><a href="javascript:;">隐私申明</a></dd>
                        <dd><a href="javascript:;">推荐分享说明</a></dd>
                    </dl>
                </div>
            </div>
        </section>
        <!-- foot-end -->

        <!-- about begin -->
        <section id="wrapper">
            <div class="container">
                <div class="about">
                    <ul class="clearfix">
                        <li><a href="javascript:;">关于我们</a></li>
                        <li>|</li>
                        <li><a href="javascript:;">公司信息披露</a></li>
                        <li>|</li>
                        <li><a href="javascript:;">加入我们</a></li>
                        <li>|</li>
                        <li><a href="javascript:;">联系我们</a></li>
                        <li>|</li>
                        <li><a href="javascript:;">版权声明</a></li>
                        <li>|</li>
                        <li><a href="javascript:;">隐私声明</a></li>
                        <li>|</li>
                        <li><a href="javascript:;">网站地图</a></li>
                    </ul>
                </div>
                <div class="copy">
                    <ul class="clearfix">
                        <li>蜀ICP备11017033号</li>
                        <li>Copyright @2011</li>
                        <li>成都福际生物科技有限公司</li>
                        <li>All Rights Reserved.</li>
                        <li>Technical</li>
                        <li>support;CDDGG Group</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- about end -->

        <!-- tools begin -->
        <div class="tools">
            <ul>
                <li>
                    <a href="login.html" title="用户">
                        <div class="tools-img">
                            <img src="../images/icon6.png" alt="">
                        </div>
                        <p>用户</p>
                    </a>
                </li>
                <li>
                    <a href="car.html" title="购物车">
                        <div class="tools-img">
                            <img src="../images/icon7.png" alt="">
                        </div>
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="javasctipt:;" title="客服">
                        <div class="tools-img">
                            <img src="../images/icon8.png" alt="">
                        </div>
                        <p>客服</p>
                    </a>
                </li>
                <li>
                    <a href="javasctipt:;" title="微信">
                        <div class="tools-img">
                            <img src="../images/icon9.png" alt="">
                        </div>
                        <p>微信</p>
                    </a>
                </li>
                <li>
                    <a href="javasctipt:;" title="收藏">
                        <div class="tools-img">
                            <img src="../images/icon10.png" alt="">
                        </div>
                        <p>收藏</p>
                    </a>
                </li>
                <li>
                    <a href="javasctipt:;" title="足迹">
                        <div class="tools-img">
                            <img src="../images/icon11.png" alt="">
                        </div>
                        <p>足迹</p>
                    </a>
                </li>
                <li>
                    <a href="javasctipt:;" title="反馈">
                        <div class="tools-img">
                            <img src="../images/icon12.png" alt="">
                        </div>
                        <p>反馈</p>
                    </a>
                </li>
                <li class="toTop">
                    <a href="javasctipt:;" title="返回顶部">
                        <div class="tools-img">
                            <img src="../images/icon13.png" alt="">
                        </div>
                        <p>返回顶部</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- tools end -->
    </div>

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/Vue.js"></script>
    <script src="../js/json.js"></script>
    <script type="text/javascript" src="../js/tab.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/index.js"></script>

</body>

</html>